<footer id="footer">
  <div class="footer-content">
    <div class="wrapper">
      <div class="inner">
        <div class="ft-contact">
          <h3 class="ft-title">2T STORE - THỜI TRANG CÔNG SỞ</h3>
          <div class="ft-contact-desc">
            Công ty TNHH 2T STORE
          </div>
          <div class="ft-contact-address">
            Địa chỉ: Số n, quận Thanh Xuân, Hà Nội
          </div>
          <div class="ft-contact-tel">
            Chăm sóc khách hàng: 0328849954
            <br>
            Mua hàng online: 0865806009
          </div>
          <div class="ft-contact-email">
            {{'Email: thanhcong27092002@gmail.com'}}
          </div>
        </div>
        <div class="ft-nav">
          <h3 class="ft-title"></h3>
          <ul>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">Triết lý kinh doanh tại 2T STORE</a></li>
            <li><a href="">2T STORE's Blog</a></li>
            <li><a href="">Hệ thống showroom</a></li>
            <li><a href="">Liên hệ</a></li>
          </ul>
        </div>
        <div class="ft-nav">
          <h3 class="ft-title"></h3>
          <ul>
            <li><a href="">Chính sách giao nhận - Vận chuyển</a></li>
            <li><a href=""></a></li>
            <li><a href="">Tra cứu đơn hàng</a></li>
            <li><a href="">Hướng dẫn chọn Size</a></li>
            <li><a href="">Quy định đổi hàng</a></li>
            <li><a href="">Quy định bảo hành và sửa chữa</a></li>
            <li><a href="">Khách hàng thân thiết</a></li>
          </ul>
        </div>
        <div class="ft-nav">
          <h3 class="ft-title"></h3>
          <div class="ft-content">
            <p>Phương thức thanh toán</p>
            <div class="image-payment">
              <div class="item">
                <a href="">
                  <img src="./assets/img/image_method_3.png" alt="">
                </a>
              </div>
            </div>
            <div class="bct">
              <a href="">
                <img src="./assets/img/bct.png" alt="" width="118px">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="designer">
      Created by
      <span>Nguyen Cong Thanh</span>
      | all rights reserved
    </div>
  </div>
</footer>
