<div id="breadcrumb-wrapper">
  <div class="breadcrumb-content">
    <div class="wrapper">
      <div class="inner text-left">
        <div class="breadcrumb-small">
          <a [routerLink]="['/home']">Trang chủ</a>
          <span>/</span>
          <a [routerLink]="['/forgot-password']">Quên mật khẩu</a>
          <span>/</span>
          <span>Đặt lại mật khẩu</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <form [formGroup]="resetPasswordForm" action="" method="POST" class="form1" id="form-login" (ngSubmit)="resetPassword()">
    <h3 class="heading">Đặt lại mật khẩu</h3>
    <div class="spacer"></div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input id="email" name="email" type="text" placeholder="Enter email" class="form-control" formControlName="email">
      <span class="form-message" *ngIf="resetPasswordForm.controls.email.invalid && (resetPasswordForm.controls.email.dirty || resetPasswordForm.controls.email.touched)">
        <span *ngIf="resetPasswordForm.controls.email.hasError('required')">Vui lòng nhập email</span>
        <span *ngIf="resetPasswordForm.controls.email.hasError('email') && !resetPasswordForm.controls.email.hasError('required')">Email không hợp lệ</span>
      </span>
      <span class="form-message invalid" *ngIf="errorMessage">{{ errorMessage }}</span>
    </div>
    <div class="form-group">
      <label for="otp" class="form-label">Otp</label>
      <input id="otp" name="otp" type="text" placeholder="Enter otp" class="form-control" formControlName="otp">
      <span class="form-message" *ngIf="resetPasswordForm.controls.email.invalid && (resetPasswordForm.controls.email.dirty || resetPasswordForm.controls.email.touched)">
        <span *ngIf="resetPasswordForm.controls.email.hasError('required')">Vui lòng nhập opt</span>
      </span>
      <span class="form-message invalid" *ngIf="errorMessage">{{ errorMessage }}</span>
    </div>
    <div class="form-group">
      <label for="new-password" class="form-label">Mật khẩu mới</label>
      <input id="new-password" name="new-password" type="text" placeholder="Enter new password" class="form-control" formControlName="newPassword">
      <span class="form-message" *ngIf="resetPasswordForm.controls.email.invalid && (resetPasswordForm.controls.email.dirty || resetPasswordForm.controls.email.touched)">
        <span *ngIf="resetPasswordForm.controls.email.hasError('required')">Vui lòng nhập mật khẩu mới</span>
        <span *ngIf="resetPasswordForm.controls.newPassword.hasError('minlength')">Mật khẩu phải có ít nhất 6 ký tự</span>
      </span>
      <span class="form-message invalid" *ngIf="errorMessage">{{ errorMessage }}</span>
    </div>
    <div class="forgot-password">
      <a [routerLink]="['/login']">
        <span>Đăng nhập</span>
      </a>
    </div>
    <button type="submit" class="form-submit">Đặt lại mật khẩu</button>
  </form>
</div>
