<div id="pre-footer">
  <div class="wrapper">
    <div class="inner">
      <div class="form">
        <div class="form-item">
          <div class="ft-subscribe">
            <div class="section-title">
              <h2>Đăng ký bản tin</h2>
              <p>Đăng ký nhận bản tin NEM để được cập nhật những mẫu thiết kế mới nhất</p>
            </div>
            <div class="ft-sub-wrapper">
              <form action="" method="post">
                <input type="email" name="" id="email-news" value="{{email}}" placeholder="Vui lòng nhập email..."
                  required>
                <button type="submit">Đăng ký</button>
              </form>
            </div>
          </div>
          <div class="ft-social">
            <a href="https://www.facebook.com/thanhnc279/" class="fb">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/congthanh_2709/" class="insta">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCKEusTzad6SCH-BijWm59rQ" class="youtube">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>