<div id="breadcrumb-wrapper">
  <div class="breadcrumb-content">
    <div class="wrapper">
      <div class="inner text-left">
        <div class="breadcrumb-small">
          <a [routerLink]="['/home']">Trang chủ</a>
          <span>/</span>
          <span>Quên mật khẩu</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <form [formGroup]="forgotPasswordForm" action="" method="POST" class="form1" id="form-login" (ngSubmit)="sendOptEmail()">
    <h3 class="heading">Quên mật khẩu</h3>
    <div class="spacer"></div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input id="email" name="email" type="text" placeholder="Enter email to receive otp" class="form-control" formControlName="email">
      <span class="form-message" *ngIf="forgotPasswordForm.controls.email.invalid && (forgotPasswordForm.controls.email.dirty || forgotPasswordForm.controls.email.touched)">
        <span *ngIf="forgotPasswordForm.controls.email.hasError('required')">Vui lòng nhập email</span>
        <span *ngIf="forgotPasswordForm.controls.email.hasError('email') && !forgotPasswordForm.controls.email.hasError('required')">Email không hợp lệ</span>
      </span>
      <span class="form-message invalid" *ngIf="errorMessage">{{ errorMessage }}</span>
    </div>
    <div class="forgot-password">
      <a [routerLink]="['/login']">
        <span>Đăng nhập</span>
      </a>
    </div>
    <button type="submit" class="form-submit">Gửi</button>
  </form>
</div>
