<h2 mat-dialog-title>Liên hệ với chúng tôi</h2>
<mat-dialog-content>
  <p class="txt">Do quý khách đặt hàng với số lượng lớn</p>
  <p class="txt">Vui lòng liên hệ với chúng tôi để đặt hàng</p>
  <p class="contact-info">Hotline: 0865 806 009</p>
  <p class="contact-info">hoặc</p>
  <p class="ft-social contact-info">
    <a href="https://www.facebook.com/thanhnc279/" class="fb">
      <i class="fab fa-facebook-f"></i>
    </a>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
