<div id="breadcrumb-wrapper">
  <div class="breadcrumb-content">
    <div class="wrapper">
      <div class="inner text-left">
        <div class="breadcrumb-small">
          <a href="/">Trang chủ</a>
          <span>/</span>
          <span *ngIf="categoryId; else allProducts">{{categoryName}}</span>
          <ng-template #allProducts>TẤT CẢ SẢN PHẨM</ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="banner" class="">
  <a href="">
    <img src="./assets/img/banner_allproduct.png" alt="" width="100%">
  </a>
</div>
<div id="collection-wrapper">
  <div class="wrapper">
    <div class="inner">
      <div class="block-gird">
        <div class="block-gird-item large--one">
          <div class="collection-sidebar-categories">
            <div class="collection-categories">
              <button class="categories">
                <span>Danh mục</span>
              </button>
              <div class="panel">
                <ul class="no-bullets">
                  <li class="active">
                    <a href="/">Tất cả sản phẩm</a>
                  </li>
                  <li class="hasmenu">
                    <a href="">Đầm</a>
                    <ul class="no-bullets">
                      <li><a href="">Đầm suông</a></li>
                      <li><a href="">Đầm dáng A</a></li>
                      <li><a href="">Đầm ôm</a></li>
                    </ul>
                  </li>
                  <li class="hasmenu">
                    <a href="">Áo sơ mi</a>
                    <ul class="no-bullets">
                      <li><a href="">Dài tay</a></li>
                      <li><a href="">Ngắn tay</a></li>
                      <li><a href="">Tay lỡ</a></li>
                    </ul>
                  </li>
                  <li class="hasmenu">
                    <a href="">Quần</a>
                    <ul class="no-bullets">
                      <li><a href="">Quần short</a></li>
                      <li><a href="">Quần lửng</a></li>
                      <li><a href="">Quần dài</a></li>
                    </ul>
                  </li>
                  <li class="hasmenu">
                    <a href="">Chân váy</a>
                    <ul class="no-bullets">
                      <li><a href="">Chân váy xếp li</a></li>
                      <li><a href="">Chân váy bút chì</a></li>
                      <li><a href="">Chân váy chữ A</a></li>
                    </ul>
                  </li>
                  <li class="hasmenu">
                    <a href="">Set bộ</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="block-gird-item large--three">
          <div class="collection-content-wrapper">
            <div class="collection-head">
              <div class="block-gird">
                <div class="block-gird-item">
                  <div class="collection-title">
                    <h1 *ngIf="categoryId; else allProducts">{{categoryName}}</h1>
                  </div>
                </div>
                <div class="block-gird-item large--two">
                  <div class="collection-sorting-wrapper">
                    <div class="collection-sidebar-wrapper">
                      <div class="sidebar-uniform-flex">
                        <div class="sidebar-item" style="margin-right: 15px;">
                          <div class="collection-filter-price">
                            <button id="btn-filter-price" class="accordion active" (click)="togglePanel()">
                              <span>Giá</span>
                              <i *ngIf="!panelVisible" class="btn-down fa-solid fa-sort-down"></i>
                              <i *ngIf="panelVisible" class="btn-up fa-solid fa-sort-up"></i>
                            </button>
                            <div id="model" class="panel sidebar-sort" *ngIf="panelVisible">
                              <ul class="no-bullets filter-price">
                                <li>
                                  <label for="radio1">
                                    <input value="1" type="radio" id="radio1" name="price-filter" checked (click)="filterProductsByPrice(1)">
                                    <span>Tất cả</span>
                                  </label>
                                </li>
                                <li>
                                  <label for="radio2">
                                    <input value="2" type="radio" id="radio2" name="price-filter" (click)="filterProductsByPrice(2)">
                                    <span>Nhỏ hơn 500,000₫</span>
                                  </label>
                                </li>
                                <li>
                                  <label for="radio3">
                                    <input value="3" type="radio" id="radio3" name="price-filter" (click)="filterProductsByPrice(3)">
                                    <span>Từ 500,000₫ - 1,000,000₫</span>
                                  </label>
                                </li>
                                <li>
                                  <label for="radio4">
                                    <input value="4" type="radio" id="radio4" name="price-filter" (click)="filterProductsByPrice(4)">
                                    <span>Từ 1,000,000₫ - 1,500,000₫</span>
                                  </label>
                                </li>
                                <li>
                                  <label for="radio5">
                                    <input value="5" type="radio" id="radio5" name="price-filter" (click)="filterProductsByPrice(5)">
                                    <span>Từ 1,500,000₫ - 2,000,000₫</span>
                                  </label>
                                </li>
                                <li>
                                  <label for="radio6">
                                    <input value="6" type="radio" id="radio6" name="price-filter" (click)="filterProductsByPrice(6)">
                                    <span>Từ 2,000,000₫ - 3,000,000₫</span>
                                  </label>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="spinner-container" *ngIf="isLoading">
              <mat-spinner
                class="spinner"
                [color]="color"
                [mode]="mode"
                [value]="value"
                [diameter]="customDiameter"
              >
              </mat-spinner>
            </div>
            <div class="collection-body" *ngIf="isDisplay">
              <div class="gird-uniform product-list">
                <div *ngFor="let product of products" class="gird-uniform__item large--one--third pd-left5">
                  <div class="product-item">
                    <div class="product-image">
                      <img [src]="product.imageProduct" alt="imageProduct">
                      <div class="product-action">
                        <div>
                          <a [routerLink]="['detail/', product.productId]" class="btn-tv">XEM THÊM</a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item-info">
                      <h4 class="image-title">{{product.productName}}</h4>
                      <span class="current-price">{{product.price | currencyFormat}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="pagination">
                <!-- Phân trang -->
                <button
                  class="page-link"
                  (click)="onPageChange(page - 1)"
                  [disabled]="page === 1"
                >
                  Previous
                </button>
                <button
                  class="page-link"
                  *ngFor="let pageNumber of getPageNumbers()"
                  (click)="pageNumber !== '...' ? onPageChange(parseInt(pageNumber)) : null"
                  [disabled]="pageNumber === '...'"
                  [ngClass]=" {'active-pagination': pageNumber === page.toString()}"
                >
                  {{pageNumber}}
                </button>
                <button
                  class="page-link"
                  (click)="onPageChange(page + 1)"
                  [disabled]="page === getTotalPages()"
                >
                  Next
                </button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
