<div id="banner">
  <a href="">
    <img src="./assets/img/ms_banner_img1.png" alt="" width="100%">
  </a>
</div>
<div id="PageContainer">
  <div class="main-content">
    <div id="home-new-banner">
      <div class="inner">
        <div class="d-flex mg-left-5">
          <div class="flex__item pd-left-5 large--one-half">
            <div class="home-new-banner-item">
              <a href="">
                <div class="image">
                  <img src="./assets/img/home_new_banner_1.png" alt="home new banner" width="100%">
                </div>
                <div class="title_btn">
                  <div class="title">New now</div>
                  <div class="btn_shopnow">SHOP NOW</div>
                </div>
              </a>
            </div>
          </div>
          <div class="flex__item pd-left-5 large--one-half">
            <div class="home-new-banner-item">
              <a href="">
                <div class="image">
                  <img src="./assets/img/home_new_banner_2.png" alt="home new banner" width="100%">
                </div>
                <div class="title_btn">
                  <div class="title">Dress</div>
                  <div class="btn_shopnow">SHOP NOW</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="home-new-product">
      <div class="wrapper">
        <div class="inner">
          <div class="section-title">
            <h2>Sản phẩm mới</h2>
          </div>
          <ng-container *ngIf="display">
            <div  class="image-slider" appSlickCarousel [slickConfig]="slickConfig1">
              <div class="image-item" *ngFor="let product of products">
                <div class="image">
                  <img [src]="product.anhsp" alt="{{product.tensp}}" />
                  <div class="product-action">
                    <div>
                      <a href="" class="btn-tv">XEM THÊM</a>
                    </div>
                  </div>
                </div>
                <div class="product-item-info">
                  <h4 class="image-title">{{product.tensp}}</h4>
                  <span class="current-price">{{product.giaban | currencyFormat}}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div id="home-new-product2">
      <div class="wrapper">
        <div class="inner">
          <div class="section-title">
            <h2>Độc quyền online</h2>
          </div>
          <div class="image-slider" appSlickCarousel [slickConfig]="slickConfig1">
            <div class="image-item">
              <div class="image">
                <img src="./assets/img/bo1.png" alt="" />
                <div class="product-action">
                  <div>
                    <a href="" class="btn-tv">XEM THÊM</a>
                  </div>
                </div>
              </div>
              <div class="product-item-info">
                <h4 class="image-title">SET BỘ REN HW40492</h4>
                <span class="current-price">599,000₫</span>
              </div>
            </div>
            <div class="image-item">
              <div class="image">
                <img src="./assets/img/damtrevai.png" alt="" />
                <div class="product-action">
                  <div>
                    <a href="" class="btn-tv">XEM THÊM</a>
                  </div>
                </div>
              </div>
              <div class="product-item-info">
                <h4 class="image-title">ĐẦM TRỄ VAI HOA NHÍ D43302</h4>
                <span class="current-price">599,000₫</span>
              </div>
            </div>
            <div class="image-item">
              <div class="image">
                <img src="./assets/img/damduoica.png" alt="" />
                <div class="product-action">
                  <div>
                    <a href="" class="btn-tv">XEM THÊM</a>
                  </div>
                </div>
              </div>
              <div class="product-item-info">
                <h4 class="image-title">ĐẦM ĐUÔI CÁ D40652</h4>
                <span class="current-price">599,000₫</span>
              </div>
            </div>
            <div class="image-item">
              <div class="image">
                <img src="./assets/img/damhoa.png" alt="" />
                <div class="product-action">
                  <div>
                    <a href="" class="btn-tv">XEM THÊM</a>
                  </div>
                </div>
              </div>
              <div class="product-item-info">
                <h4 class="image-title">ĐẦM HOA CỔ LƯỢN SÓNG D40512</h4>
                <span class="current-price">599,000₫</span>
              </div>
            </div>
            <div class="image-item">
              <div class="image">
                <img src="./assets/img/somitrang.png" alt="" />
                <div class="product-action">
                  <div>
                    <a href="" class="btn-tv">XEM THÊM</a>
                  </div>
                </div>
              </div>
              <div class="product-item-info">
                <h4 class="image-title">SƠ MI TRẮNG SM40712</h4>
                <span class="current-price">399,000₫</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="banner2">
      <a href="">
        <img src="./assets/img/banner.png" alt="" width="100%">
      </a>
    </div>
    <div id="home-articles">
      <div class="wrapper">
        <div class="inner">
          <div class="section-title">
            <h2>2T STORE'S BLOG</h2>
            <p>Đón đầu xu hướng, định hình phong cách</p>
          </div>
          <div class="image-slider2" appSlickCarousel [slickConfig]="slickConfig2">
            <div class="image-item">
              <div class="image">
                <img src="./assets/img/blog1.png" alt="" />
              </div>
              <div class="product-item-info">
                <h4 class="image-title">MINIMAL CHIC</h4>
              </div>
            </div>
            <div class="image-item">
              <div class="image">
                <img src="./assets/img/blog2.png" alt="" />
              </div>
              <div class="product-item-info">
                <h4 class="image-title">3 CÁCH DIỆN SƠ MI ĐẸP ĐÚNG CHUẨN</h4>
              </div>
            </div>
            <div class="image-item">
              <div class="image">
                <img src="./assets/img/blog3.png" alt="" />
              </div>
              <div class="product-item-info">
                <h4 class="image-title">SUIT - XU HƯỚNG THỜI TRANG CHO QUÝ CÔ QUYỀN LỰC</h4>
              </div>
            </div>
            <div class="image-item">
              <div class="image">
                <img src="./assets/img/blog4.png" alt="" />
              </div>
              <div class="product-item-info">
                <h4 class="image-title">RẠNG RỠ ĐÓN HÈ CÙNG VÁY HOA</h4>
              </div>
            </div>
            <div class="image-item">
              <div class="image">
                <img src="./assets/img/blog5.png" alt="" />
              </div>
              <div class="product-item-info">
                <h4 class="image-title">ẤN TƯỢNG CÙNG ĐẦM THẮT NƠ</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
