<div id="breadcrumb-wrapper">
  <div class="breadcrumb-content">
    <div class="wrapper">
      <div class="inner text-left">
        <div class="breadcrumb-small">
          <a [routerLink]="['/home']">Trang chủ</a>
          <span>/</span>
          <span>GIỎ Hàng của bạn - 2T Fashion</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="pageContainer">
  <div id="page-wrapper">
    <div class="wrapper">
      <div class="inner">
        <h1>Giỏ Hàng</h1>
        <form id="form-cart" action="" method="post" class="cart table-wrap" (ngSubmit)="updateCartItemQuantity()">
          <ng-container>
            <div class="flex-container mobile-view" *ngFor="let item of cartItems;">
              <div class="cart-image-mobile">
                <a class="cart_image" (click)="cartDetail(item.productId)">
                  <img [src]="item.imageProduct" alt="item.productName">
                </a>
              </div>
              <div class="cart-info-mobile">
                <a class="h4" (click)="cartDetail(item.productId)">{{item.productName}}</a>
                <p>Phiên bản: Size 4</p>
                <p>Thương hiệu: 2T-STORE</p>
                <div class="cart-quantity-mobile">
                  <input type="number" name="quantity" id="quantity-{{item.productId}}" class="quantity-input" value="{{item.quantity}}" min="0" #quantityInput>
                </div>
                <span class="h3">{{item.price | currencyFormat}}</span>
                <a class="cart_remove" (click)="removeCartItem(item.productId)">
                  <small>Xóa</small>
                </a>
              </div>
            </div>
          </ng-container>
          <table class="cart-table full" *ngIf="cartItems.length > 0 else noItem">
            <thead class="cart_row">
            <tr>
              <th colspan="2" class="text-center">Sản phẩm</th>
              <th class="text-center">Giá</th>
              <th class="text-center">Số lượng</th>
              <th class="text-right">Tổng tiền</th>
            </tr>
            </thead>
            <tbody id="table_cartItems" *ngFor="let item of cartItems;">
            <tr class="cart_row">
              <td>
                <a class="cart_image" (click)="cartDetail(item.productId)">
                  <img [src]="item.imageProduct" alt="item.productName">
                </a>
              </td>
              <td class="cart-product-title">
                <a class="h4" (click)="cartDetail(item.productId)">{{item.productName}}</a>
                <p>Phiên bản: Size 4</p>
                <p>Thương hiệu: 2T-STORE</p>
                <a class="cart_remove" (click)="removeCartItem(item.productId)">
                  <small>Xóa</small>
                </a>
              </td>
              <td class="cart-product-price">
                <span class="h3">{{item.price | currencyFormat}}</span>
              </td>
              <td>
                <input type="number" name="quantity" id="quantity-{{item.productId}}" class="quantity-input" value="{{item.quantity}}" min="0" #quantityInput>
              </td>
              <td class="cart-product-price text-right">
                <span class="h3">{{item.price * item.quantity | currencyFormat}}</span>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="flex-box cart_row">
            <div class="flex-box-item two-thirds">
              <label for="cart-note">Chú thích</label>
              <textarea name="note" id="cart-note" class="input-full"></textarea>
            </div>
            <div class="flex-box-item text-right one-third">
              <p>
                <span class="cart_subtotal-title">Tổng tiền:</span>
                <span id="totalAmount" class="h3 cart-subtotal">{{totalAmount | currencyFormat}}</span>
              </p>
              <button type="submit" id="btnUpdateCartItem" name="update"
                      class="btnCart update-cart">Cập nhật
              </button>
              <button type="button" id="btnPayment" name="checkout" class="btnCart" (click)="checkoutBtn()">Thanh
                toán
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #noItem>
  <p>Bạn chưa có sản phẩm nào trong giỏ hàng!</p>
  <p>Tiếp tục mua sắm <a [routerLink]="['/product']" style="color: #007AFF">tại đây</a></p>
</ng-template>
